@inherits LayoutComponentBase

<!DOCTYPE html>
<html lang="en">
    <head>
        <_Head />
    </head>

	@*<body class="mod-bg-1 mod-nav-link mod-nav-link @ViewBag.PreemptiveClass">
		<partial name="_ScriptsLoadingSaving" />
		<div class="page-wrapper">
			<div class="page-inner">
				<partial name="_LeftPanel" />
				<div class="page-content-wrapper">
					<partial name="_PageHeader" />
					<main id="js-page-content" role="main" class="page-content">
						@if (ViewBag.PreemptiveClass?.Length > 0)
						{
						}
						else
						{
							<partial name="_PageBreadcrumb" />
							<div class="subheader"><partial name="_PageHeading" />@RenderSection("Subheaderblock", required: false)</div>
						}
						@RenderBody()
					</main>
					<partial name="_PageContentOverlay" />
					<partial name="_PageFooter" />
					<partial name="_ShortcutModal" />
					<partial name="_ColorProfileReference" />
				</div>
			</div>
		</div>
		<partial name="_ShortcutMenu" />
		<partial name="_ShortcutMessenger" />
		<partial name="_PageSettings" />
		<partial name="_GoogleAnalytics" />
		<partial name="_ScriptsBasePlugins" />
		@RenderSection("ScriptsBlock", required: false)
	</body>*@

	<body class="mod-bg-1 mod-nav-link mod-nav-link ">
		<_ScriptsLoadingSaving />
		<div class="page-wrapper">
			<div class="page-inner">
				<_LeftPanel />
				<div class="page-content-wrapper">
					<_PageHeader />
					<main id="js-page-content" role="main" class="page-content">
						<_PageBreadcrumb />
						
						<div class="subheader">
							<_PageHeading />
							@*
							@RenderSection("Subheaderblock", required: false)*@
							@Body
						</div>
					</main>

					<_PageContentOverlay />
					<_PageFooter />
					<_ShortcutModal />
					<_ColorProfileReference />

				</div>
			</div>
		</div>

		<_ShortcutMenu />
		<_ShortcutMessenger />
		<_PageSettings />
		<_GoogleAnalytics />
		<_ScriptsBasePlugins />
	

	</body>

</html>



@*<h3>_LayoutBase</h3>*@

@code {

}
